@charset "UTF-8";
body {
    background-color: rgb(118, 173, 155);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(3, 20, 15);
}
h1#principal {
    text-align: center;
    background-color: blanchedalmond;
}
h2 {
    color: rgb(5, 65, 5);
}
.basico {
    color: rgb(3, 92, 33);
}
.intermediario {
    color: rgb(211, 207, 7);
}
.avançado {
    color: rgb(185, 10, 10);
}